body {
     font-family: "Lucida Console", Monaco, monospace;
     margin-left:25%;
     margin-right:25%;
}

#header {
	font-size:2em;
	text-align: center;
}

.links {
       font-size: 1em;
       border: 2px dashed;
       padding: 10px 20px;
       text-align:center;
       width:50%;
}

.links a:link {
    color: black;
}

.links a:visited {
    color: gray;
}

.links a:hover {
    color: #ffff99;
}

.links a:active {
    color: blue;
}

div:hover {
    background-color: #ffff99;
}