body {
     font-family: "Lucida Console", Monaco, monospace;
     margin-left:25%;
     margin-right:25%;
}

#header {
	font-size:2em;
	text-align: center;
}

.links {
       font-size: 1em;
       padding: 10px 20px;
       text-align:center;
       width:50%;
       margin-left:25%;
}

.links a:link {
    color: black;
}

.links a:visited {
    color: darkgray;
}

.links a:active {
    color: blue;
}

div:hover {
    border: 1px solid gray;
}