body {
     font-family: Georgia, Times, 'Times New Roman', serif;
     margin-left:25%;
     margin-right:25%;
     background-color: #FFFFCC;
     font-variant: small-caps;

}

#header {
	font-size:2em;
	text-align: center;
}

.links {
       font-size: 1em;
       padding: 10px 20px;
       text-align:center;
       width:100%;
       margin-left:25%;
}

.links a:link {
    color: black;
}

.links a:visited {
    color: #333333
}

.links a:active {
    color: blue;
}

div.links:hover {
    border: 1px solid gray;
}

img {
    height:100px;
    width:100px;
}

table {

      margin-left: auto;
      margin-right:auto;
}

#v-align {
    margin-top:10%;
}

.main-section {
   font-size: 1.12em;
   font-weight:bold;
}

.tab {
   padding-left:3em
}